<h1>Editing Task</h1>

<%= render 'form', task: @task %>

<hr/>

<%= button_to 'Delete task', group_task_path(@group, @task), method: :delete, 
      data: { confirm: 'Are you sure? If this is a recurring task, all future recurrences will also be deleted.' }, 
      class:"btn btn-warning" %>

<div>
  <%= link_to 'Show', group_task_path(@group, @task) %> |
  <%= link_to 'Back', group_path(@group) %>
</div>