<h1>Editing User Group Assignment</h1>

<%= render 'form', user_group_assignment: @user_group_assignment %>

<%= link_to 'Show', @user_group_assignment %> |
<%= link_to 'Back', user_group_assignments_path %>
