<h3>Enter group information to join:</h3>
<%= form_with url: join_group_path, method: :post do |form| %>

  <div class="field">
    <%= form.text_field :title, placeholder: "Group name" %>
  </div>

  <div class="field">
    <%= form.text_field :password, placeholder: "Security code" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
